In [1]:
import pandas as pd
import numpy as np
import json
from IPython.display import display, HTML

vg_dataframe = pd.read_csv("data/vgsales.csv")

# Just check on the dataset
vg_dataframe.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [2]:
nintendo_dataframe = vg_dataframe.loc[vg_dataframe['Publisher'] == "Nintendo"]
nintendo_dataframe["Platform"].unique()

array(['Wii', 'NES', 'GB', 'DS', 'SNES', 'GBA', '3DS', 'N64', 'GC',
       'WiiU'], dtype=object)

In [3]:
dataframes = []

#Grab top 5 wii games
wii_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "Wii"][:5]
dataframes.append(wii_dataframe)

#Grab top 5 nes games
nes_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "NES"][:5]
dataframes.append(nes_dataframe)

#Grab top 5 DS games
ds_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "DS"][:5]
dataframes.append(ds_dataframe)

#Grab top 5 3DS games
threeDS_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "3DS"][:5]
dataframes.append(threeDS_dataframe)

#Grab top 5 GB games
gb_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "GB"][:5]
dataframes.append(gb_dataframe)

#Grab top 5 GBA games
gba_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "GBA"][:5]
dataframes.append(gba_dataframe)

#Grab top 5 SNES games
snes_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "SNES"][:5]
dataframes.append(snes_dataframe)

#Grab top 5 N64 games
n64_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "N64"][:5]
dataframes.append(n64_dataframe)

#Grab top 5 GC games
gc_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "GC"][:5]
dataframes.append(gc_dataframe)

#Grab top 5 Wiiu games
wiiu_dataframe = vg_dataframe.loc[vg_dataframe['Platform'] == "WiiU"][:5]
dataframes.append(wiiu_dataframe)

In [9]:
# Looking at how we may want to convert to json
wii_dataframe.to_json("data/wii.json")
nes_dataframe.to_json("data/nes.json")
ds_dataframe.to_json("data/ds.json")
threeDS_dataframe.to_json("data/threeDS.json")
gb_dataframe.to_json("data/gb.json")
gba_dataframe.to_json("data/gba.json")
snes_dataframe.to_json("data/snes.json")
n64_dataframe.to_json("data/n64.json")
gc_dataframe.to_json("data/gc.json")
wiiu_dataframe.to_json("data/wiiu.json")

# for gif finding
# print(wii_dataframe["Name"])
# print(nes_dataframe["Name"])
# print(ds_dataframe["Name"])
# print(threeDS_dataframe["Name"])
# print(gb_dataframe["Name"])
# print(gba_dataframe["Name"])
# print(snes_dataframe["Name"])
# print(n64_dataframe["Name"])
# print(gc_dataframe["Name"])
# print(wiiu_dataframe["Name"])

output_json = {
    "Wii" : [],
    "NES" : [],
    "DS" : [],
    "threeDS" : [],
    "GB" : [],
    "GBA" : [],
    "SNES" : [],
    "N64" : [],
    "GC" : [],
    "WiiU" : [],
}

result = pd.concat(dataframes)

# Loop through the dataframe, creating json objects and adding them to list
for index, row in result.iterrows():
#     print(row.to_dict())
    if row["Platform"] == "3DS":
        # we need a special case for 3DS as we don't want a variable name starting with a number
        output_json["threeDS"].append(row.to_dict())
    else:
        output_json[row["Platform"]].append(row.to_dict())
    
with open('data/nintendo.json', 'w') as outfile:
    json.dump(output_json, outfile, indent=4)

3DS
{'Rank': 33, 'Name': 'Pokemon X/Pokemon Y', 'Platform': '3DS', 'Year': 2013.0, 'Genre': 'Role-Playing', 'Publisher': 'Nintendo', 'NA_Sales': 5.17, 'EU_Sales': 4.05, 'JP_Sales': 4.34, 'Other_Sales': 0.79, 'Global_Sales': 14.35}
3DS
{'Rank': 43, 'Name': 'Mario Kart 7', 'Platform': '3DS', 'Year': 2011.0, 'Genre': 'Racing', 'Publisher': 'Nintendo', 'NA_Sales': 4.74, 'EU_Sales': 3.91, 'JP_Sales': 2.67, 'Other_Sales': 0.89, 'Global_Sales': 12.21}
3DS
{'Rank': 50, 'Name': 'Pokemon Omega Ruby/Pokemon Alpha Sapphire', 'Platform': '3DS', 'Year': 2014.0, 'Genre': 'Role-Playing', 'Publisher': 'Nintendo', 'NA_Sales': 4.23, 'EU_Sales': 3.37, 'JP_Sales': 3.08, 'Other_Sales': 0.65, 'Global_Sales': 11.33}
3DS
{'Rank': 54, 'Name': 'Super Mario 3D Land', 'Platform': '3DS', 'Year': 2011.0, 'Genre': 'Platform', 'Publisher': 'Nintendo', 'NA_Sales': 4.89, 'EU_Sales': 2.99, 'JP_Sales': 2.13, 'Other_Sales': 0.78, 'Global_Sales': 10.79}
3DS
{'Rank': 65, 'Name': 'New Super Mario Bros. 2', 'Platform': '3DS', 'Year': 2012.0, 'Genre': 'Platform', 'Publisher': 'Nintendo', 'NA_Sales': 3.66, 'EU_Sales': 3.07, 'JP_Sales': 2.47, 'Other_Sales': 0.63, 'Global_Sales': 9.82}